* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Fontes*/
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  --font-size-h2: 2.5rem;
  --font-size-h1: 3rem;
  --font-size-p: 1.3rem;
  --font-size-a: 1.5rem;
  /*Colors*/
  --color-white-text: #fff;
  --bg-color-header: #000;
  --color-text-strong: rgb(25, 145, 25);
  --color-text-i-bg-btn: ;
}

header {
  height: 3.5em;
  width: 100%;
  display: flex;
  color: var(--color-white-text);
  background-color: var(--bg-color-header);
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
  font-size: var(--font-size-h2);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}
header .headerText {
  display: flex;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-h2);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 8rem;
  margin-top: 8rem;
  z-index: 1;
}
header img {
  height: 100%;
}

.hero .heroContent {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  margin-top: 1rem;
  color: var(--color-white-text);
}
.hero .heroContent span {
  font-size: var(--font-size-h2);
}
.hero .heroContent strong {
  color: var(--color-text-strong);
  font-size: var(--font-size-h2);
}
.hero .heroContent p {
  font-size: var(--font-size-h2);
  margin-top: 1rem;
  line-height: 3.3rem;
}
.hero,
.about {
  width: 90%;
  height: fit-content;
  border-radius: 2rem;
  padding: 2rem;
}

.hero {
  background-image: linear-gradient(to left, black, #595959);
  text-align: center;
  font-size: var(--font-size-h2);
}
.hero .buttons {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.hero .buttons,
i {
  animation: icon;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: var(--color-text-i-bg-btn);
}
.hero .buttons #btn-contact {
  width: 20rem;
  background-color: var(--color-text-i-bg-btn);
  border-radius: 1.5rem;
  height: 3rem;
  color: var(--color-white-text);
  border: none;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.projects {
  width: 90%;
  margin: 1rem 1rem;
  max-height: 400rem;
}
.projects h1 {
  font-size: var(--font-size-h1);
}
.projects .project-container {
  width: 100%;
}
.projects .project-container img,
.about .logo img {
  width: 100%;
  height: 100%;
}
.projects .project-info {
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-a);
  color: var(--bg-color-header);
  font-weight: 700;
}
.projects h2 {
  font-size: var(--font-size-h2);
  margin-top: 3rem;
}
.projects .tags {
  font-size: var(--font-size-a);
  gap: 2rem;
  display: flex;
  color: var(--color-white-text);
  font-weight: 700;
}
.projects .tags span {
  background-color: blue;
  text-align: center;
  height: 2.5rem;
  width: 10rem;
  border-radius: 1rem;
  margin-top: 2rem;
}
section a {
  font-size: var(--font-size-a);
  text-decoration: none;
}
.about {
  font-size: var(--font-size-h2);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about .logos {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.about .logo {
  width: 10rem;
  height: 10rem;
}

footer {
  text-align: center;
  background-color: azure;
  color: var(--bg-color-header);
  padding: 2rem;
  max-height: 50rem;
  font-size: var(--font-size-h2);
  width: 100%;
}
footer .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .footer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
footer form,
input,
textarea,
button {
  width: 100%;
  border-radius: 9px;
  padding: 1rem;
  box-shadow: 0 0 0 0;
  outline: 0;
}
footer input,
button {
  height: 2.8rem;
}
footer button {
  background-color: blue;
  color: white;
  font-size: var(--font-size-h2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .input,
.button {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 41%;
}
footer p {
  font-size: var(--font-size-h2);
}

@media (min-width: 800px) {
  .containerProject {
    display: flex;
    justify-content: space-around;
  }
  .projects .project {
    max-width: 40rem;
    height: 600px;
  }
  .project .project-container {
    height: fit-content;
    height: 45rem;
    padding: 1rem;
  }
  .project-info {
    display: flex;
  }
}
@keyframes icon {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
