* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Fontes*/
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  --font-size-h2: 2.1rem;
  --font-size-h1: 3rem;
  --font-size-p: 1.3rem;
  --font-size-a: 1.5rem;
  /*Colors*/
  --color-h1: #fff;
  --color-header-cards: #303030;
  --bacgroud-color-body: #181818;
  --color-bg-btn: #4d4d4d;
  --color-text-a: #666666;
}
body {
  background-color: var(--bacgroud-color-body);
  height: 100%;
}

header {
  height: 2em;
  width: 100%;
  display: flex;
  color: var(--color-h1);
  background-color: var(--color-header-cards);
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
  font-size: var(--font-size-h2);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}
header .headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-h2);
}
header .headerText span {
  margin-left: 3rem;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 8rem;
  margin-top: 15rem;
  z-index: 1;
}

.heroContentText {
  width: 50%;
  text-align: start;
}
.heroContentText p {
  color: var(--color-text-a);
}
.heroContentImg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroContentImgCircle {
  width: 30rem;
  height: 30rem;
}
.heroContentImg img {
  height: 100%;
  width: 100%;
  border-radius: 145px;
}

.hero .heroContent {
  gap: 3rem;
  margin-top: 1rem;
  color: var(--color-h1);
  display: flex;
}

.hero .heroContent p {
  font-size: var(--font-size-h2);
  margin-top: 1rem;
  line-height: 3.1 rem;
}
.hero,
.about {
  width: 90%;
  height: fit-content;
  border-radius: 2rem;
  padding: 2rem;
}

.hero {
  text-align: center;
  font-size: var(--font-size-h2);
}
.hero .buttons {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 15rem;
}

.hero .buttons #btn-contact {
  width: 20rem;
  background-color: var(--color-bg-btn);
  height: 3rem;
  color: var(--color-h1);
  border: none;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.hero .buttons #btn-contact:hover {
  background-color: var(--color-header-cards);
}

.projects {
  width: 90%;
  margin: 5rem 1rem;
  max-height: 400rem;
}
.project {
  background-color: #373737;
  box-shadow: 0 0 0.8rem var(--color-text-a);
  padding: 1rem;
}
.projects h1 {
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: var(--font-size-h1);
  color: var(--color-h1);
}
.projects .project-container {
  width: 100%;
}
.projects .project-container img,
.about .logo img {
  width: 100%;
  height: 100%;
}
.projects .project-info {
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-a);
  color: var(--color-header-cards);
  font-weight: 700;
}
.projects h2 {
  font-size: var(--font-size-h2);
  margin-top: 1rem;
  color: var(--color-h1);
}
.projects .tags {
  font-size: var(--font-size-a);
  gap: 2rem;
  display: flex;
  color: var(--color-h1);
  font-weight: 700;
}
.projects .tags span {
  background-color: var(--color-text-i-bg-btn);
  text-align: center;
  height: 2.5rem;
  width: 10rem;
  border-radius: 1rem;
  margin-top: 2rem;
}
section a {
  font-size: var(--font-size-a);
  text-decoration: none;
  color: var(--color-text-a);
}
section span {
  color: var(--color-h1);
}
.about {
  font-size: var(--font-size-h2);
  color: var(--color-text-a);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about h2 {
  color: var(--color-h1);
}
.about .logos {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.about .logo {
  width: 10rem;
  height: 10rem;
}

footer {
  margin-top: 10rem;
  text-align: center;
  border-top: 1px solid var(--color-text-a);
  color: var(--color-h1);
  padding: 2rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  font-size: var(--font-size-a);
}
footer i {
  font-size: var(--font-size-h1);
  margin-left: 8rem;
}

@media (min-width: 800px) {
  .containerProject {
    display: flex;
    justify-content: space-around;
  }
  .projects .project {
    max-width: 40rem;
    height: 600px;
  }
  .project .project-container {
    height: fit-content;
    height: 45rem;
    padding: 1rem;
  }
  .project-info {
    display: flex;
  }
}
